.place__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 24px
}
.place__text:last-child {
  margin: 0;
}
@media screen and (max-width:768px) {
  .place__text {
    font-size: 16px;
  }
}