@import url('./_underline/header__lang-ling_underline.css');
@import url('./_link/header__lang_ling_link.css');
.header__lang-ling {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  margin-right: 18px;

}
.header__lang-ling:last-of-type {
  margin-right: 0;
}
.header__lang-ling:hover {
  opacity: 0.8;
}
@media screen and (max-width:320px) {
  .header__lang-ling {
    font-size: 18px;
  }
}
