.intro__text {
  margin-bottom: 0;
  margin-top: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}
@media screen and (max-width:320px) {
  .intro__text {
    margin-top: 40px;
    font-size: 16px;
    line-height: 26px;
  }
}