.header__lang-link-ru {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #ffffff;
  text-decoration-line: underline;
}
.header__lang-link-ru:hover {
  opacity: 0.8;
  transition: 0.4s;
}
@media screen and (max-width:320px) {
  .header__lang-link-ru {
    font-size: 18px;
  }
}