.place__website {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: website;
}
@media screen and (max-width:320px) {
  .place__website {
    width: 90%;
    justify-self: center;
  }
}